<% unless @universities.empty? %>
	<%= will_paginate @universities, page_links: false, previous_label: "Previous", next_label: "Next", list_classes: %w(pagination justify-content-center d-flex d-md-none) %>
	<%= will_paginate @universities, list_classes: %w(pagination justify-content-center d-none d-sm-none d-md-flex) %>

    <% @universities.each do |university| %>
    <div class="card border-primary mb-3">
	<!--card body left-->
        <div class="row no-gutters">
            <div class="col-11 border-right">
                <div class="card-body" style="width:41rem;">
                    <%= link_to university_path(university) do %>
                    <h3 class="card-title"><%= university.name %></h3>
                    <% end %>
                    <span class="text-muted"><%= university.city %>, <%= university.state %> <%= university.zip_code %></span>
                </div>
				<!--card footer-->
                <div class="card-footer border-primary text-muted" style="height:3rem;">
                    <div class="row no-gutters">
                        <div class="col-4">
                            STUDENT COUNT:<span>
                                                <% if university.student_count.nil? %>
                                                Not Reported
                                                <% else %>
                                                <%= number_with_precision(university.student_count, precision: 0, delimiter: ",") %>
                                                <% end %>
                                          </span>
                        </div>
                        <div class="col-6">
                            TUITION AND FEES:   <span>
                                                    <% if university.cost_in.nil? %>
                                                    Not Reported
                                                    <% else %>
                                                    $<%= number_with_precision(university.cost_in, precision: 2, delimiter: ",") %>
                                                    <% end %>
                                                </span>
                        </div>
                        <div class="col-2">
                            <%= link_to university_path(university) do %>
								<span class="text-primary stretched-link float-right">More info</span>
                            <% end %>
                        </div>
                    </div>

                </div>
            </div>
			<!--card body right-->
            <div class="col-1 border-left">
                <div class="btn-group-vertical card-img">
                    <button class="btn btn-outline-primary card-img border-bottom" style="height:80px;">
                        <%= image_tag("heart.png", width: "16px", height: "16px") %>
                    </button>
                    <button class="btn btn-outline-primary card-img border-top" style="height:80px;">
                        <%= image_tag("tick.png", width: "16px", height: "16px") %>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <% end %>

	<%= will_paginate @universities, page_links: false, previous_label: "Previous", next_label: "Next", list_classes: %w(pagination justify-content-center d-flex d-md-none) %>
	<%= will_paginate @universities, list_classes: %w(pagination justify-content-center d-none d-sm-none d-md-flex) %>
<% end %>