<% unless params['q'].blank? %>
  <p>Search: <%= params['q'] %></p>
<% end %>

<%= will_paginate @universities, list_classes: %w(pagination justify-content-center) %>

<% @universities.each do |university| %>
  <%= link_to university_path(university) do %>
    <h3><%= university.name %></h3>
  <% end %>
<% end %>

<%= will_paginate @universities, list_classes: %w(pagination justify-content-center) %>
