<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<% if params['mode'] == 'adv' || params['q'].present? %>
  <p>Search: <%= params['q'] %></p>	  <p class="small font-weight-bold mb-1">Search Criteria:</p>
<% end %>
<% if params['mode'] == 'adv' %>
  <% if params['name'].present? %>
    <span class="badge badge-light">Name: <%= params['name'].strip %></span>
  <% end %>
  <% if params['city'].present? %>
    <span class="badge badge-light">City: <%= params['city'].strip %></span>
  <% end %>
  <% if params['state'].present? %>
    <span class="badge badge-light">State: <%= params['state'].strip %></span>
  <% end %>
  <% if params['zip'].present? %>
    <span class="badge badge-light">ZIP Code: <%= params['zip'].strip %></span>
  <% end %>
  <% if params['size_min'].present? %>
    <span class="badge badge-light">School Size > <%= number_with_precision(params['size_min'].strip.to_i, precision: 0, delimiter: ',') %></span>
  <% end %>
  <% if params['size_max'].present? %>
    <span class="badge badge-light">School Size < <%= number_with_precision(params['size_max'].strip.to_i, precision: 0, delimiter: ',') %></span>
  <% end %>
  <% if params['acceptance_rate_min'].present? %>
    <span class="badge badge-light">Acceptance Rate > <%= params['acceptance_rate_min'].strip %>%</span>
  <% end %>
  <% if params['acceptance_rate_max'].present? %>
    <span class="badge badge-light">Acceptance Rate < <%= params['acceptance_rate_max'].strip %>%</span>
  <% end %>
  <% if params['sat_reading_min'].present? %>
    <span class="badge badge-light">SAT Reading Score > <%= params['sat_reading_min'].strip %></span>
  <% end %>
  <% if params['sat_reading_max'].present? %>
    <span class="badge badge-light">SAT Reading Score < <%= params['sat_reading_max'].strip %></span>
  <% end %>
  <% if params['sat_math_min'].present? %>
    <span class="badge badge-light">SAT Math Score > <%= params['sat_math_min'].strip %></span>
  <% end %>
  <% if params['sat_math_max'].present? %>
    <span class="badge badge-light">SAT Math Score < <%= params['sat_math_max'].strip %></span>
  <% end %>
  <% if params['act_min'].present? %>
    <span class="badge badge-light">ACT Score > <%= params['act_min'].strip %></span>
  <% end %>
  <% if params['act_max'].present? %>
    <span class="badge badge-light">ACT Score < <%= params['act_max'].strip %></span>
  <% end %>
  <% if params['cost_in_min'].present? %>
    <span class="badge badge-light">In-State Costs > $<%= number_with_precision(params['cost_in_min'].strip.to_f, precision: 2, delimiter: ',') %></span>
  <% end %>
  <% if params['cost_in_max'].present? %>
    <span class="badge badge-light">In-State Costs < $<%= number_with_precision(params['cost_in_max'].strip.to_f, precision: 2, delimiter: ',') %></span>
  <% end %>
  <% if params['cost_out_min'].present? %>
    <span class="badge badge-light">Out-of-State Costs > $<%= number_with_precision(params['cost_out_min'].strip.to_f, precision: 2, delimiter: ',') %></span>
  <% end %>
  <% if params['cost_out_max'].present? %>
    <span class="badge badge-light">Out-of-State Costs < $<%= number_with_precision(params['cost_out_max'].strip.to_f, precision: 2, delimiter: ',') %></span>
  <% end %>
<% elsif params['q'].present? %>
  <span class="badge badge-light">Query: <%= params['q'].strip %></span>
<% end %>
<% if params['mode'] == 'adv' || params['q'].present? %>
  <h6 class="mt-3"><%= "#{@result_size} #{'Result'.pluralize(@result_size)}" %></h6>
  <hr>
<% end %>

﻿<% unless @universities.empty? %>
	<%= will_paginate @universities, page_links: false, previous_label: "Previous", next_label: "Next", list_classes: %w(pagination justify-content-center d-flex d-md-none) %>
	<%= will_paginate @universities, list_classes: %w(pagination justify-content-center d-none d-sm-none d-md-flex) %>

    <% @universities.each do |university| %>
    <div class="container-fluid mb-3">
	<!--card body left-->
        <div class="row no-gutters">
            <div class="col-md-11 card border-primary">
                <div class="card-body">
                    <%= link_to university_path(university) do %>
                    <h3 class="card-title"><%= university.name %></h3>
                    <% end %>
                    <span class="text-muted"><%= university.city %>, <%= university.state %> <%= university.zip_code %></span>
                </div>
				<!--card footer-->
                <div class="card-footer border-primary text-muted">
                    <div class="row no-gutters">
                        <div class="col-sm-4">
                            <span class="h6">Student Count:</span>
                            <span>
                                <% if university.student_count.nil? %>
                                  Not Reported
                                <% else %>
                                  <%= number_with_precision(university.student_count, precision: 0, delimiter: ",") %>
                                <% end %>
                            </span>
                        </div>
                        <div class="col-sm-6">
                            <span class="h6">Tuition and Fees:</span>
                            <span>
                                <% if university.cost_in.nil? %>
                                  Not Reported
                                <% else %>
                                  $<%= number_with_precision(university.cost_in, precision: 2, delimiter: ",") %>
                                <% end %>
                            </span>
                        </div>
                        <div class="col-sm-2">
                            <%= link_to university_path(university) do %>
								                    <span class="text-primary stretched-link float-right">More Info</span>
                            <% end %>
                        </div>
                    </div>

                </div>
            </div>
			<!--card body right-->
            <div class="col-md-1">
                <div class="btn-group-vertical h-100 w-100">
                    <% if logged_in? %>
                      <% is_fav = current_user.favorite?(university.id.to_s) %>
                      <%= link_to university, action: :toggle_favorite, method: "patch", role: "button", class: "btn #{is_fav ? "btn-primary" : "btn-outline-primary"} d-flex flex-column", "data-toggle": "tooltip", "data-placement": "top", title: "#{is_fav ? "Remove from" : "Add to"} Favorites List" do %>
                          <%= image_tag("heart.png", width: "16px", height: "16px", class: "m-auto") %>
                      <% end %>
                    <% else %>
                      <%= link_to('#', role: "button", class: "btn btn-outline-primary d-flex flex-column disabled") do %>
                          <%= image_tag("heart.png", width: "16px", height: "16px", class: "m-auto") %>
                      <% end %>
                    <% end %>
                    <%= link_to({controller: :static_pages, action: :compare, university: university.id}, role: "button", class: "btn btn-outline-primary d-flex flex-column", "data-toggle": "tooltip", "data-placement": "bottom", title: "Add to Comparison") do %>
                        <%= image_tag("tick.png", width: "16px", height: "16px", class: "m-auto") %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <% end %>

	<%= will_paginate @universities, page_links: false, previous_label: "Previous", next_label: "Next", list_classes: %w(pagination justify-content-center d-flex d-md-none) %>
	<%= will_paginate @universities, list_classes: %w(pagination justify-content-center d-none d-sm-none d-md-flex) %>
<% end %>
