<% content_for :title, "#{@university.name}" %>

<script>
	$(function () {
	  $('[data-toggle="tooltip"]').tooltip()
	})
	$(function () {
	  $('[data-toggle="popover"]').popover()
	})
	$('#page-tab a').on('click', function (e) {
		e.preventDefault()
		$(this).tab('show')
	})
	$('#test-score-tab a').on('click', function (e) {
		e.preventDefault()
		$(this).tab('show')
	})
</script>

<div class="row">
	<div class="col-lg-9 col-md-8 col-sm-8 mb-2">
		<h1 class="mb-0"><%= @university.name %></h1>
		<span class="text-muted"><%= @university.city %>, <%= @university.state %> <%= @university.zip_code %></span>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-4 text-right">
		<% unless @university.school_site.nil? %>
			<%= link_to "View School's Site", @university.full_url, target: "_blank", role: "button", class: "btn btn-block btn-secondary" %>
		<% end %>
		<%= link_to "Compare", {controller: :static_pages, action: :compare, university: @university.id}, role: "button", class: "btn btn-block btn-secondary" %>
		<% if logged_in? %>
			<% is_fav = current_user.favorite?(@university.id.to_s) %>
			<%= link_to (is_fav ? "Remove from Favorites" : "Add to Favorites"), @university, action: :toggle_favorite, method: "patch", role: "button", class: "btn btn-block btn-secondary #{is_fav ? "btn-outline-primary" : ""}" %>
		<% end %>
		<% if logged_in? %>
			<%= link_to "Request Update", {controller: :add_requests, action: :new, university_id: @university.id}, role: "button", class: "btn btn-block btn-secondary" %>
		<% end %>
		<% if logged_in? && admin? %>
			<%= link_to "Update Information", university_edit_path(@university), role: "button", class: "btn btn-block btn-secondary btn-outline-danger" %>
		<% end %>
	</div>
</div>

<!-- Academics, Tuition & Scholarships, etc. tabs -->
<nav>
	<div class="nav nav-tabs mt-4 mb-2" id="page-tab" role="tablist">
		<a class="nav-item nav-link active" id="academics-tab" data-toggle="tab" href="#academics" role="tab" aria-controls="academics" aria-selected="true">Academics</a>
		<a class="nav-item nav-link" id="tuition-scholarships-tab" data-toggle="tab" href="#tuition-scholarships" role="tab" aria-controls="tuition-scholarships" aria-selected="false">Tuition & Scholarships</a>
		<a class="nav-item nav-link" id="user-comments-tab" data-toggle="tab" href="#user-comments" role="tab" aria-controls="user-comments" aria-selected="false">User Comments (<%= @university.comments.length %>)</a>
	</div>
</nav>
<!-- Tab contents -->
<div class="tab-content" id="page-tabContent">
	<!-- Academics tab -->
	<div class="tab-pane show active" id="academics" role="tabpanel" aria-labelledby="academics-tab">
		<div class="row mt-4">
			<div class="col text-center">
				<i class="fas fa-university fa-5x"></i>
				<% if @university.student_count.nil? %>
					<h3 class="text-muted mt-2 mb-0">Not Reported</h3>
				<% else %>
					<h3 class="mt-2 mb-0"><%= number_with_precision(@university.student_count, precision: 0, delimiter: ",") %></h3>
				<% end %>
				<span class="mt-0 text-muted">Undergraduate Students</span>
			</div>
			<div class="col text-center">
				<i class="fas fa-vote-yea fa-5x"></i>
				<% if @university.acceptance_rate.nil? %>
					<h3 class="text-muted mt-2 mb-0">Not Reported</h3>
				<% else %>
					<h3 class="mt-2 mb-0"><%= number_with_precision(@university.acceptance_rate, precision: 0) %>%</h3>
				<% end %>
					<span class="mt-0 text-muted">Acceptance Rate</span>
			</div>
		</div>
		<h4 class="mt-4 mb-1">Test Scores</h4>
		<hr class="mt-0">
		<div class="row">
			<div class="col-sm-2">
				<!-- SAT, ACT, etc. tabs -->
				<div class="nav flex-column nav-pills mb-2" id="test-score-tab" role="tablist" aria-orientation="vertical">
					<a class="nav-link active" id="sat-tab" data-toggle="pill" href="#sat" role="tab" aria-controls="sat" aria-selected="true">SAT</a>
					<a class="nav-link" id="act-tab" data-toggle="pill" href="#act" role="tab" aria-controls="act" aria-selected="false">ACT</a>
				</div>
			</div>
			<div class="col-sm-10">
				<!-- Tab contents -->
				<div class="tab-content" id="test-score-tabContent">
				<!-- SAT tab -->
					<div class="tab-pane show active" id="sat" role="tabpanel" aria-labelledby="sat-tab">
						<div class="row">
							<div class="col-md-6">
								<h5>Reading</h5>
								<% if @university.sat_reading? %>
									<div class="row">
										<div class="col align-self-start text-left">
											0
										</div>
										<div class="col align-self-end text-right">
											800
										</div>
									</div>
									<!-- Bar for reading score -->
									<div class="progress">
										<%= content_tag :div, "", class: "progress-bar bg-success no-focus-outline", style: "margin-left: #{@university.q1_sat_reading / 8.0}%; width: #{(@university.q3_sat_reading - @university.q1_sat_reading) / 8.0}%;" %>
									</div>
									<div class="container-fluid text-center">
										<h6 class="mt-2 mb-0"><%= @university.q1_sat_reading %> - <%= @university.q3_sat_reading %></h6>
										<span class="mt-0 text-muted test-score-sub">Middle 50%</span>
									</div>
								<% else %>
									<span class="h6 text-muted">No SAT reading data reported.</span>
								<% end %>
							</div>
							<div class="col-md-6">
								<h5>Mathematics</h5>
								<% if @university.sat_math? %>
									<div class="row">
										<div class="col align-self-start text-left">
											0
										</div>
										<div class="col align-self-end text-right">
											800
										</div>
									</div>
									<!-- Bar for mathematics score -->
									<div class="progress">
										<%= content_tag :div, "", class: "progress-bar bg-success no-focus-outline", style: "margin-left: #{@university.q1_sat_math / 8.0}%; width: #{(@university.q3_sat_math - @university.q1_sat_math) / 8.0}%;" %>
									</div>
									<div class="container-fluid text-center">
										<h6 class="mt-2 mb-0"><%= @university.q1_sat_math %> - <%= @university.q3_sat_math %></h6>
										<span class="mt-0 text-muted test-score-sub">Middle 50%</span>
									</div>
								<% else %>
									<span class="h6 text-muted">No SAT mathematics data reported.</span>
								<% end %>
							</div>
						</div>
					</div>
					<!-- ACT tab -->
					<div class="tab-pane" id="act" role="tabpanel" aria-labelledby="act-tab">
						<div class="row">
							<div class="col-md-6">
								<h5>
									Cumulative
									<!-- Give tooltip to explain ACT scoring (average of all four sections rounded to the nearest whole number) -->
									<small>
										<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" data-html="true" title="ACT scoring is based on the rounded average of the individual section scores<br>(English, Math, Reading, and Science)"></i>
									</small>
								</h5>
								<% if @university.act? %>
									<div class="row">
										<div class="col align-self-start text-left">
											0
										</div>
										<div class="col align-self-end text-right">
											36
										</div>
									</div>
									<!-- Bar for cumulative score -->
									<div class="progress">
										<%= content_tag :div, "", class: "progress-bar bg-success no-focus-outline", style: "margin-left: #{100 * @university.q1_act / 36.0}%; width: #{100 * (@university.q3_act - @university.q1_act) / 36.0}%;"	%>
									</div>
									<div class="container-fluid text-center">
										<h6 class="mt-2 mb-0"><%= @university.q1_act %> - <%= @university.q3_act %></h6>
										<span class="mt-0 text-muted test-score-sub">Middle 50%</span>
									</div>
								<% else %>
									<span class="h6 text-muted">No ACT data reported.</span>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Tuition & Scholarships tab -->
	<div class="tab-pane" id="tuition-scholarships" role="tabpanel" aria-labelledby="tuition-scholarships-tab">
		<h4 class="mt-4 mb-1">Cost of Attendance</h4>
		<hr class="mt-0">
		<div class="row equal">
			<div class="col-lg-2 col-sm-3">
				<span class="h6">In-State Costs</span>
			</div>
			<div class="col">
				<% if @university.cost_in.nil? %>
					<span class="text-muted">Not reported</span>
				<% else %>
					<span>$<%= number_with_precision(@university.cost_in, precision: 2, delimiter: ",") %></span>
				<% end %>
			</div>
		</div>
		<div class="row equal mt-1">
			<div class="col-lg-2 col-sm-3">
				<span class="h6">Out-Of-State Costs</span>
			</div>
			<div class="col">
				<% if @university.cost_out.nil? %>
					<span class="text-muted">Not reported</span>
				<% else %>
					<span>$<%= number_with_precision(@university.cost_out, precision: 2, delimiter: ",") %></span>
				<% end %>
			</div>
		</div>
	</div>
	<!-- User comments tab -->
	<div class="tab-pane" id="user-comments" role="tabpanel" aria-labelledby="user-comments-tab">
		<% if logged_in? %>
			<div class="container">
				<%= form_for :comment, url: {controller: :comments, action: "create"} do |f| %>
					<%= hidden_field(nil, :user_id, value: user_id) %>
					<%= hidden_field(nil, :university_id, value: @university.id) %>
					<%= f.text_area :content, class: "form-control mb-1", placeholder: "Comment..." %>
					<%= f.submit "Comment", class: "btn btn-primary mb-3" %>
				<% end %>
			</div>
		<% end %>
		<div class="container">
			<% @university.comments.each do |comment| %>
				<div class="card mb-2">
					<div class="card-body">
						<h6 class="card-title mb-0"><%= User.find(comment.user_id).name %></h6>
						<span class="card-subtitle text-muted small mb-3"><%= comment.created_at.localtime.strftime("%d/%m/%Y - %I:%M:%S") %></span>
						<p class="card-text mt-3"><%= comment.content %></p>
						<%= link_to "Report", comment, action: "report", method: "patch", class: "mr-3" %>
						<% if logged_in? && (current_user == User.find(comment.user_id) || mod?) %>
							<%= link_to "Remove", comment, method: "delete" %>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
